# Backend
backend/vendor/
backend/.env
backend/writable/cache/*
backend/writable/debugbar/*
backend/writable/logs/*
backend/writable/session/*
backend/writable/uploads/*
!backend/writable/.gitkeep

# Frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
