
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = teacher_db
database.default.username = root
database.default.password = YOUR_MYSQL_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port     = 3306

JWT_SECRET_KEY = teachportal_secret_key_2026
